.slick-next {
  width: 52px;
  height: 52px;
  background: url(../img/partnext.png) !important;
}
.slick-next:hover {
  background: url(../img/partnext.png);
}

.slick-prev {
  width: 52px;
  height: 52px;
  background: url(../img/partnext.png) !important;
  top: -10px;
  rotate: 180deg;
}
.slick-prev:hover {
  background: url(../img/partnext.png);
}

.slick-next::before,
.slick-prev::before {
  display: none;
}

.slick-arrow {
  width: 52px;
  height: 52px;
}

.slick-disabled {
  opacity: 0.5;
}

.slick-track {
  display: flex;
  align-items: center;
}

.slick-list {
  max-width: 90%;
  margin: 0 auto;
}

.swiper-pagination-bullet {
  width: 112px;
  height: 4px;
  border-radius: 0;
  opacity: 1;
  background-color: #fff;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-brand--1);
}

.swiper-pagination {
  margin-bottom: 5.8rem;
}